        @media (max-width: 768px) {

            #main2,
            #main3 {
                font-size: 30px;
                padding: 10px;
            }
        }

        @media (min-width: 675px) and (max-width:883px) {
            #main3 {
                width: 100%;
            }
        }

        @media (min-width:883px) {
            #main3 {
                width: 832px;
            }
        }

        * {
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            background-size: cover
        }

        #navbar {
            background-color: rgba(51, 51, 51, .8);
            color: #fff;
            text-align: center;
            padding: 10px 0
        }

        #main {
            padding: 20px;
            align-items: center;
            text-align: center;
            background-image: url(warsztat2.png);
            box-sizing: border-box;
            min-height: 100vh;
            min-width: 23px;
            background-size: cover;
            background-position: center 25%;
            background-repeat: no-repeat;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: space-around;
            justify-content: center;
            background-attachment: fixed;
        }

        #main2 {
            display: block;
            background-color: lightblue;
            padding: 15px;
            font-size: 50px;
            color: white;
            opacity: 0.9;
            font-family: Garamond, serif;
            margin-bottom: 0;
            min-width: 350px;
        }

        #main3 {
            margin-top: 0;
            display: block;
            background-color: rgb(13, 15, 15);
            padding: 15px;
            font-size: 50px;
            color: white;
            opacity: 0.9;
            font-family: Garamond, serif;
            min-width: 350px;
        }

        #services,
        #opinie,
        #contact {
            padding: 20px;
            text-align: center;

        }
        

        .service {
            margin: 10px 0
        }

        footer {
            background-color: rgba(51, 51, 51, .8);
            color: #fff;
            text-align: center;
            padding: 20px 0
        }

        #opinie {
            position: relative;
            height: 300px;
            width: 320px;
            margin: 5px auto 120px auto;
            perspective: 200%;

        }

        input,
        textarea {
            margin: 2px;
            width: 200px;
        }

        img {
            width: 30px;
            margin-right: 2px;
            margin-left: 2px;
        }

        .container {
            position: static;
            width: 120px;
            margin: 100px auto 0 auto;
            perspective: 1000px;
            color: #fff;
        }

        .carousel {
            position: absolute;
            width: 93%;
            height: 100%;
            transform-style: preserve-3d;
            animation: rotate360 60s infinite forwards linear;

        }

        .image {
            position: absolute;
            width: 300px;
            height: 250px;
            top: 20px;
            left: 10px;
            right: 10px;
            background-size: cover;
            box-shadow: inset 0 0 0 2000px rgba(37, 37, 37, 0.5);
            display: flex;
            transform: none;
        }

        span {
            margin: auto;
            font-size: 20px;
            color: #fff;
        }

        @keyframes rotate360 {
            from {
                transform: rotateY(0deg);
            }

            to {
                transform: rotateY(-360deg);
            }
        }

        .image:nth-child(1) {
            background-image: url(clients/c1.png);
            transform: rotateY(0deg) translateZ(430px)
        }

        .image:nth-child(2) {
            background-image: url(clients/c2.png);
            transform: rotateY(40deg) translateZ(430px)
        }

        .image:nth-child(3) {
            background-image: url(clients/c3.png);
            transform: rotateY(80deg) translateZ(430px)
        }

        .image:nth-child(4) {
            background-image: url(clients/c4.png);
            transform: rotateY(120deg) translateZ(430px)
        }

        .image:nth-child(5) {
            background-image: url(clients/c5.png);
            transform: rotateY(160deg) translateZ(430px)
        }

        .image:nth-child(6) {
            background-image: url(clients/c6.png);
            transform: rotateY(200deg) translateZ(430px)
        }

        .image:nth-child(7) {
            background-image: url(clients/c7w.png);
            transform: rotateY(240deg) translateZ(430px)
        }

        .image:nth-child(8) {
            background-image: url(clients/c8.png);
            transform: rotateY(280deg) translateZ(430px)
        }

        .image:nth-child(9) {
            background-image: url(clients/c9w.png);
            transform: rotateY(320deg) translateZ(430px)
        }

        #navbar {
            background-color: #333;
            overflow: hidden;

        }

        #navbar {
            background-color: rgba(51, 51, 51, .8);
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 15px;
            z-index: 1000;
            width: 20%;
            margin: 0 auto;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }

        .sticky {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .sticky+.main {
            padding-top: 60px;
        }

        .main {
            padding-top: 60px;
        }
        #service_image{
            flex-wrap: wrap;
            justify-content: space-around;
            height: 400px;
            width: 400px;
            transition: transform 2s;
        }
        #service_image:hover{
            transform: scale(1.5);
        }

        @media (max-width: 675px) {
            #service_image {
                width: 100%;
                height: 100%;
            }
        }

        .box {
            width: auto;
            margin: 0 auto;
            background: rgba(255,255,255,0.2);
            padding: 35px;
            border: 2px solid #fff;
            border-radius: 20px/50px;
            background-clip: padding-box;
            text-align: center;
            margin-bottom: 50px;
          }
          
          .button {
            font-size: 1em;
            padding: 10px;
            color: #ffffff;
            border: 2px solid blue;
            border-radius: 20px/50px;
            text-decoration: none;
            cursor: pointer;
            transition: all 0.3s ease-out;
            background: blue;
          }
          .button:hover {
            background: rgb(1, 173, 39);
          }
          
          .overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.7);
            transition: opacity 500ms;
            visibility: hidden;
            opacity: 0;
          }
          .overlay:target {
            visibility: visible;
            opacity: 1;
          }
          
          .popup {
            margin: 70px auto;
            padding: 20px;
            background: #ffffff;
            border-radius: 5px;
            width: 350px;
            position: relative;
            transition: all 1s ease-in-out;
          }
          
          .popup h2 {
            margin-top: 0;
            color: #333;
            font-family: Tahoma, Arial, sans-serif;
          }
          .popup .close {
            position: absolute;
            top: 20px;
            right: 30px;
            transition: all 200ms;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            color: #333;
          }
          .popup .close:hover {
            color: #d80606;
          }
          .popup .content {
            max-height: 30%;
            overflow: auto;
          }
          #os{width:50px;}

        #textinpic{
            position:absolute;
            padding-left: 52%;
            padding-bottom: 42%;
            font-size: 50px;
            transform: translate(-50%,-50%);
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        #textinpic1{
            position:absolute;
            padding-right: 52%;
            padding-bottom: 42%;
            font-size: 50px;
            transform: translate(-50%,-50%);
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        #textinpic2{
            position:absolute;
            padding-left: 52%;
            padding-bottom: 42%;
            font-size: 50px;
            transform: translate(-50%,-50%);
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        #textinpic3{
            position:absolute;
            padding-left: 52%;
            padding-bottom: 42%;
            font-size: 50px;
            transform: translate(-50%,-50%);
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }